body {
    margin: 0; /* Remove default margin */
    font-family: Arial, sans-serif; /* Set font */
}

.container {
    max-width: 1200px; /* Maximum width of the container */
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Add some padding */
    background-color: #f9f9f9; /* Background color */
    border: 1px solid #ccc; /* Optional border */
}

#logo{
    height:33px;
    width:188px;

}
.top-bar{
    display: flex;
    justify-content: space-between;
}
.middle-options > li {

    padding-left: 5px;
    padding-right: 5px;
    display: inline;
    font-weight: 600;
}
.right-options{
    display: inline;
}
#signup-button{
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px;
    border-radius: 20px;
    display:inline;
}
.main{
    margin-top: 100px;
}
#ques{
    text-align: center;
    font-weight: 900;

    font-size: 75px;
}
.search-options{
    display: flex ;
    align-items: center;
    justify-content: center;
}
.search-options>button{
    border: 0px;
    background-color: white;
    padding: 20px;
}
.search-options>button>a{
    text-decoration: none;
    color: black;
}
.search-names{
    border-bottom: 1px;
}
.search-names:hover{
    border-bottom:1px solid #1e2f45;
    color: green;
}
button:first-child{
    border-bottom:1px solid #1e2f45;
}